
<!DOCTYPE html>

<html>
<head>
<title> Rowan Services </title>
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link REL="StyleSheet" href="/css/style.css" type="text/css">
<link rel="apple-touch-icon" href="/images/touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/images/touch-icon-iphone-retina.png" />
</head>

<body>
  <div id="navigationBar">
    Rowan University
  </div>
  <div id="bio">
   <h3>Hi.</h3>
   My name is Tom Renn. 
   I am a student of Rowan University but AM NOT affiliated with the school in any other way. 
   Everything listed below are unofficial applications.
  </div>

   <div id="applications">
    <div id="webApp" class="app">
      <div class="display">
        <a href="/food/">Web Application </a>
      </div>
      <div class="description">
      <span class="online">Online!</span> Rate and comment about the dining options that change daily.
      </div>
    </div>

    <div id="androidApp" class="app">
      <div class="display">
        <a href="https://play.google.com/store/apps/details?id=rowan.application.quickaccess">
        <img src="/images/android_badge.png">
        </a>
      </div>
      <div class="description">
      <span class="online">New application in development!</span> Will follow the new design guidelines and offer more features 
      than the current market application.
     </div>
    </div>

    <div id="iphoneApp" class="app">
      <div class="display">
        <img src="/images/apple_badge.png">
      </div>
      <div class="description">
      Unfortunately <a href="http://tomrenn.com/?p=186"> from my post here</a> you will learn my laptop with the 
      code for the iPhone application was stolen.
      </div> 
    </div>

   </div>
</body>

</html>
